<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cillian Murphy's Gallery</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Gallery</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
    <div>
        <img src="/images/cmurphy_oppenheimer.jpg" alt="Cillian Murphy 1">
        <img src="/images/cmurphy_inception.jpg" alt="Cillian Murphy 2">
        <img src="/images/cmurphy_peakyblinders.jpg" alt="Cillian Murphy 3">
    </div>
</body>
</html>
